<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.pageTitle ? pageTitle : "Campedia" %> </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <nav id="navbar">
        <div class="navbar__list">
            <li><a href="/">Home</a></li>
            <li><a href="/camps">Camps</a></li>
            <li><a href="/camps/new">Add Camps</a></li>
        </div>
    </nav>